{{> header}}

  <p>
    Welcome to our mod_swift Apache Express demo.
  </p>

  <ul>
    <li><a href="cookies">/express/cookies</a>
      (parse cookies and return them as JSON)
    </li>
    <li><a href="json">/express/json</a>
      (return a Swift array of dicts as JSON)
    </li>
    <li><a href="cows">/express/cows</a>
      (show a random cow)
    </li>
  </ul>

  <p>
    <em>mod_swift</em>
    is brought to you by
    <a href="http://www.alwaysrightinstitute.com/" target="ari"
       >The Always Right Institute</a>
    and
    <a href="http://zeezide.de/" target="zeezide">ZeeZide</a>.
    Enjoy!
  </p>

{{> footer}}
