    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <a href="mailto:wrong@alwaysrightinstitute.com"
             ><i class="svg-icon email"></i></a>
          <a href="https://github.com/AlwaysRightInstitute/mod_swift/"
             ><i class="svg-icon github"></i></a>
          <a href="https://www.twitter.com/helje5"
             ><i class="svg-icon twitter"></i></a>
        </footer>
      </div>
    </div>
  </body>
</html>
