{{> header}}

<p>
  This is a demo for the Mustache handler written via mod_swift.
  The data comes from a Swift dictionary which looks like this:
</p>
<pre class="zzsource">
let sampleDict  : [ String : Any ] = [
  "name"        : "Chris",
  "value"       : 10000,
  "taxed_value" : Int(10000 - (10000 * 0.4)),
  "in_ca"       : true,
  "addresses"   : [
    [ "city"    : "Cupertino" ],
    [ "city"    : "Mountain View" ]
  ]
]
</pre>

<p>... and renders into this:</p>
<div style="padding: 1em; border: 1px dotted #AAA;">
  <p>
    Hello {{name}}!
  </p>

  <p>
    You have just won {{& value}} dollars!
    {{#in_ca}}
      Well, {{{taxed_value}}} dollars, after taxes.
    {{/in_ca}}
  </p>

  <p>
    {{#addresses}}
      <li>Has address in: {{city}}</li>
    {{/addresses}}
    {{^addresses}}
      Has NO addresses
    {{/addresses}}
  </p>
</div>

<p>
  Here is the template location and source:
</p>

<pre class="zzsource">
{{filename}}

{{template}}
</pre>

{{> footer}}
